/*-----------------home--------------------*/
.img-home {
    width: 100%;
    height: 100%;
    filter: brightness(75%);
}

.carousel-item {
    padding: 50px;
}

.card {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: #1c5e3a;
    color: white;
}

.card-img-top {
    height: 400px;
    object-fit: contain;
}
.card-body {
    text-align: center;
    text-decoration: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.bloco-home{
    height: 600px;
    width: 1800px;
    margin-top: 100px;
}

.bloco-home img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 30px;
    filter: brightness(75%);
}

.text-bloco-home{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
}